[submodule "templates/commonproject"]
	path = templates/commonproject
	url = git@github.com:delorenj/CommonProject.git
[submodule "templates/hermes-agent"]
	path = templates/hermes-agent
	url = git@github.com:delorenj/hermes-agent-template.git
[submodule "agents/hermes/pm/runtime"]
	path = agents/hermes/pm/runtime
	url = git@github.com:delorenj/agent-hm-pjangler-pm.git
[submodule "agents/hermes/scrum-master/runtime"]
	path = agents/hermes/scrum-master/runtime
	url = git@github.com:delorenj/agent-hm-pjangler-scrum-master.git
